<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
</head>
<body>
    {{>navbar}}

    <!--Main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-irems-center">
                        <figure>
                            <img src="images/bg1" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>