<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
</head>
<body>
    {{>navbar}}

    <!--Main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right ">
                        <figure>
                            <img src="images/bg1.png" alt="xyz">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I am <span class="txt_clr">Mern Stack Developer,</span>and Competitive Programmer</h1>
                        <a href="http://www.linkedin.com/in/" target="_blank"><button>Go to linked profile</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>